<% include partials/headerfront %>
<!--<div class="parallax1">-->
<div class="parallax">
</div>
<h2 class="w3-animate-opacity" id="cgheader">CAR GALAXY</h2>
<!--</div>-->    <a href="/cars" ><button type="button" class="btn btn-primary" id="btncars">Stock-Sheet</button></a> 
<div>

   <div class="container" style="margin-top:20%;">
  <div class="row">
      <div>
    <h2 id="cgheader5">
        Our Services
    </h2>
</div>
 </div>
   <div class="row">
    <div class="col-md-6"><img src="/images/newcar.jpg" id="img1" alt="Brand-image"  ></div>
    <div class="col-md-3"><img src="/images/carexchangeicon.png" id="img2" alt="Brand-image" ></div>
      <div class="col-md-3"><img src="/images/usedcar.jpg" id="img3" alt="Brand-image"></div>
  </div>
   <div class="row">
         <div class="col-md-6"><h2 id="cgheader2" >Buy</h2></div>
              <div class="col-md-3">  <h2 id="cgheader3">Exchange</h2></div>
                   <div class="col-md-3">  <h2 id="cgheader4" >Sell</h2></div>
        </div>
 </br>
  </br>
   </br>
</div>
<% include partials/footer %>